# Fichiers et dossiers générés par MPLAB X / XC8 / CMake

# build folders
build/
_build/
debug/
disassembly/

# private project files
nbproject/private/

# compilation outputs
*.o
*.d
*.elf
*.hex
*.cof
*.map
*.lst
*.sym
*.bin
*.cod

# Logs and temporary files
*.log
*.tmp
*~
*.bak
*.swp

# CMake / ninja
CMakeCache.txt
CMakeFiles/
compile_commands.json
cmake_install.cmake
build.ninja

# other
*.cache
*.pyc
*.pyo
